*,
html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: gray;
    height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ul-navbar {
    margin-left: 25%;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    height: 40px;
    font-weight: 200px;
    margin: 20px;
    color: aliceblue;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.li-navbar:hover {
    background-color: black;
    transition: .2s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
}

.lampu{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.footer{
    height: 5vh;
    background-color: darkslategray;
    text-align: right;
    font-size: 20px;
    color: maroon;
}